[{"id":"9ff02a76.5f09c","type":"function","z":"23d
[{"id":"9ff02a76.5f09c","type":"function","z":"23d1f0df.f716f8","name":"set payload REPLACE THIS ONE WITH YOUR'S","func":"msg.payload = \"I need Milk 20\";\nreturn msg;","outputs":1,"noerr":0,"x":213,"y":83,"wires":[["b709722c.f60cf"]]},{"id":"1ebe046a.915e3c","type":"http request","z":"23d1f0df.f716f8","name":"IFTTT Request.","method":"POST","ret":"obj","url":"https://maker.ifttt.com/trigger/add_to_list/with/key/hj9q0op-sYdOb9x_fz0IF0e7qlO0IdKAVBLilI91H1Z","tls":"","x":673.8571166992188,"y":156.28570556640625,"wires":[[]]},{"id":"cb58624d.c8865","type":"debug","z":"23d1f0df.f716f8","name":"","active":true,"console":"true","complete":"true","x":599.5,"y":279,"wires":[]},{"id":"961dcda7.f79b3","type":"inject","z":"23d1f0df.f716f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":124.5,"y":343,"wires":[["9ff02a76.5f09c"]]},{"id":"b709722c.f60cf","type":"function","z":"23d1f0df.f716f8","name":"Tokenize","func":"var tokens = msg.payload.split(\" \");\nfor(i = 0;i< tokens.length;i++)\n{\n  if(tokens[i]===\"need\")\n    {\n        var item = tokens[i+1];\n        var qty = 1;\n        if(i+2<tokens.length)\n        {\n            if(tokens[i+2]!=\"please\")\n            {\n                qty = tokens[i+2]\n            }\n\n        }\n        var json = { \"value1\" : item, \"value2\" : qty, \"value3\": \"units??\"};\n        msg.payload = json;\n        return msg;\n\n    }  \n}\n\n\n\n","outputs":1,"noerr":0,"x":452.5,"y":157,"wires":[["cb58624d.c8865","1ebe046a.915e3c"]]}]