flow1.json
[{"id":"655c4fec.73d6f","type":"tab","label":"Flow 1"},{"id":"4aba1d03.b92874","type":"twitter out","z":"655c4fec.73d6f","twitter":"","name":"Tweet","x":1079.773120880127,"y":277.49306201934814,"wires":[]},{"id":"a639c588.592648","type":"inject","z":"655c4fec.73d6f","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":195.85646057128906,"y":552.576464176178,"wires":[["1af29580.649dfb"]]},{"id":"3b8345b9.6ddf6a","type":"watson-conversation-v1","z":"655c4fec.73d6f","name":"","workspaceid":"369643aa-1511-4469-9e64-7af5cb3e719a","multiuser":false,"context":true,"x":668.7731132507324,"y":319.5764331817627,"wires":[["cac91773.3f42c8"]]},{"id":"e67240b8.da674","type":"watson-text-to-speech","z":"655c4fec.73d6f","name":"","lang":"en-GB","langhidden":"en-GB","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"CbA1lwpVx8gq","x":1108.7731227874756,"y":348.90978240966797,"wires":[["ff82c477.00a588"]]},{"id":"a82f7885.9a4688","type":"function","z":"655c4fec.73d6f","name":"set payload","func":"// msg.payload = msg.transcription;\nmsg.payload = msg.payload.results[0].alternatives[0].transcript;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":314.0231170654297,"y":320.82641410827637,"wires":[["312fe512.65a96a"]]},{"id":"ff82c477.00a588","type":"function","z":"655c4fec.73d6f","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1279.4398746490479,"y":348.90978240966797,"wires":[["f064aec7.ffb1f"]]},{"id":"f064aec7.ffb1f","type":"play audio","z":"655c4fec.73d6f","name":"","x":1438.7731685638428,"y":348.90978240966797,"wires":[]},{"id":"8176511d.4c175","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.0231170654297,"y":133.5764389038086,"wires":[["1ef9768.fa89a8a"]]},{"id":"6ccac849.9e8608","type":"watson-conversation-v1","z":"655c4fec.73d6f","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":545.1064338684082,"y":1563.243091583252,"wires":[["ca6dc1cc.3c904"]]},{"id":"2da77d86.4b3582","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.1064338684082,"y":1481.243091583252,"wires":[["1b81fa9b.154325"]]},{"id":"91828527.1e30c8","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.6064338684082,"y":1518.243091583252,"wires":[["1b81fa9b.154325"]]},{"id":"1b81fa9b.154325","type":"function","z":"655c4fec.73d6f","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":307.6064338684082,"y":1517.243091583252,"wires":[["6ccac849.9e8608"]]},{"id":"bf8fdfaf.49ba","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":135.1064338684082,"y":1602.243091583252,"wires":[["aab074b6.5be748"]]},{"id":"c11751ce.52484","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":135.6064338684082,"y":1638.243091583252,"wires":[["aab074b6.5be748"]]},{"id":"aab074b6.5be748","type":"function","z":"655c4fec.73d6f","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":306.6064338684082,"y":1637.243091583252,"wires":[["6ccac849.9e8608"]]},{"id":"ca6dc1cc.3c904","type":"debug","z":"655c4fec.73d6f","name":"","active":true,"console":"false","complete":"payload.output.text","x":764.1064338684082,"y":1563.243091583252,"wires":[]},{"id":"7a8a0033.87ee5","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":312.1064338684082,"y":1384.243091583252,"wires":[["6ccac849.9e8608"]]},{"id":"c179fdda.f271f","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":312.1064338684082,"y":1420.243091583252,"wires":[["6ccac849.9e8608"]]},{"id":"8f8e8474.3f7078","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.6064338684082,"y":1732.243091583252,"wires":[["65ca52d8.879aec"]]},{"id":"65ca52d8.879aec","type":"function","z":"655c4fec.73d6f","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":328.6064338684082,"y":1732.243091583252,"wires":[["6ccac849.9e8608"]]},{"id":"ffc6e24d.843bb","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.6064338684082,"y":1554.243091583252,"wires":[["1b81fa9b.154325"]]},{"id":"6cb1945b.30e2dc","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":135.1064338684082,"y":1674.243091583252,"wires":[["aab074b6.5be748"]]},{"id":"b3156f4f.8386b","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":312.1064338684082,"y":1456.243091583252,"wires":[["6ccac849.9e8608"]]},{"id":"c6d4bee6.00d9c","type":"inject","z":"655c4fec.73d6f","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.0231170654297,"y":98.24309539794922,"wires":[["806a3f84.d3a39"]]},{"id":"806a3f84.d3a39","type":"function","z":"655c4fec.73d6f","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":313.0231170654297,"y":98.24310302734375,"wires":[["83cd17c.69ddce8"]]},{"id":"1ef9768.fa89a8a","type":"function","z":"655c4fec.73d6f","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":312.8564147949219,"y":133.24312591552734,"wires":[["83cd17c.69ddce8"]]},{"id":"cac91773.3f42c8","type":"function","z":"655c4fec.73d6f","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":872.939769744873,"y":318.24307441711426,"wires":[["4aba1d03.b92874"],["e67240b8.da674"]]},{"id":"312fe512.65a96a","type":"link out","z":"655c4fec.73d6f","name":"gototone","links":["4ea3303.5ce80d","1a1d0051.4c4cd"],"x":429.57616424560547,"y":368.07642364501953,"wires":[]},{"id":"15270f55.e12b31","type":"link in","z":"655c4fec.73d6f","name":"convIn","links":["820992ba.5b712","83cd17c.69ddce8","63a9061a.4b8b78"],"x":547.6898620128632,"y":364.90974617004395,"wires":[["3b8345b9.6ddf6a"]]},{"id":"374de3d.d14a41c","type":"inject","z":"655c4fec.73d6f","name":"Hi","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":195.0231170654297,"y":514.9931201934814,"wires":[["1af29580.649dfb"]]},{"id":"cd3949c3.384488","type":"inject","z":"655c4fec.73d6f","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.2731170654297,"y":588.4931211471558,"wires":[["1af29580.649dfb"]]},{"id":"6226f63d.99f448","type":"inject","z":"655c4fec.73d6f","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":166.7731170654297,"y":624.2431221008301,"wires":[["1af29580.649dfb"]]},{"id":"1a1d0051.4c4cd","type":"link in","z":"655c4fec.73d6f","name":"","links":["312fe512.65a96a","1af29580.649dfb"],"x":555.7499799728394,"y":559.252405166626,"wires":[["437d5961.f693d8","f5a45d6a.e7b19"]]},{"id":"437d5961.f693d8","type":"debug","z":"655c4fec.73d6f","name":"","active":true,"console":"false","complete":"false","x":683.2499809265137,"y":515.9190912246704,"wires":[]},{"id":"820992ba.5b712","type":"link out","z":"655c4fec.73d6f","name":"","links":["15270f55.e12b31"],"x":1058.9999923706055,"y":556.0857782363892,"wires":[]},{"id":"f5a45d6a.e7b19","type":"watson-tone-analyzer-v3","z":"655c4fec.73d6f","name":"","tones":"emotion","sentences":"false","contentType":"false","x":690.4999809265137,"y":555.8357486724854,"wires":[["532fea3f.1c84c4"]]},{"id":"532fea3f.1c84c4","type":"function","z":"655c4fec.73d6f","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":905.0832977294922,"y":556.752405166626,"wires":[["820992ba.5b712"]]},{"id":"1af29580.649dfb","type":"link out","z":"655c4fec.73d6f","name":"frommaninputs","links":["4ea3303.5ce80d","1a1d0051.4c4cd"],"x":427.4543170928955,"y":558.741418838501,"wires":[]},{"id":"83cd17c.69ddce8","type":"link out","z":"655c4fec.73d6f","name":"adminout","links":["15270f55.e12b31"],"x":432.4670042991638,"y":115.83853530883789,"wires":[]},{"id":"e88dc62d.3e6808","type":"comment","z":"655c4fec.73d6f","name":"config","info":"","x":94.17575073242188,"y":57.99999809265137,"wires":[]},{"id":"afb3e55.549f318","type":"comment","z":"655c4fec.73d6f","name":"speech in","info":"","x":104.50000381469727,"y":238.11119174957275,"wires":[]},{"id":"2ed37be2.cb8924","type":"comment","z":"655c4fec.73d6f","name":"test txt in","info":"","x":102,"y":475.61125564575195,"wires":[]},{"id":"da7fc2c.b7f7c4","type":"comment","z":"655c4fec.73d6f","name":"tone analyser","info":"","x":605.7500152587891,"y":473.11123180389404,"wires":[]},{"id":"5b0146c7.898538","type":"comment","z":"655c4fec.73d6f","name":"conversations call and output","info":"","x":650.7500419616699,"y":244.36119079589844,"wires":[]},{"id":"ba903dc8.b1b02","type":"streaming-stt","z":"655c4fec.73d6f","name":"","cmd":"","x":133.5,"y":314.99999809265137,"wires":[["85aeec85.c122e"],[]]},{"id":"fbd31498.e450d8","type":"inject","z":"655c4fec.73d6f","name":"on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":74.5,"y":277.99999809265137,"wires":[["ba903dc8.b1b02"]]},{"id":"768df38f.3e4b1c","type":"inject","z":"655c4fec.73d6f","name":"off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":101,"y":370.99999809265137,"wires":[["ba903dc8.b1b02"]]},{"id":"85aeec85.c122e","type":"delay","z":"655c4fec.73d6f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270.5,"y":400,"wires":[["a82f7885.9a4688"]]}]