flow2.json
[{"id":"7d7b6600.b6f988","type":"tab","label":"Flow 2"},{"id":"30383ca9.26b424","type":"streaming-stt","z":"7d7b6600.b6f988","name":"","cmd":"","x":464.7857208251953,"y":196.14285469055176,"wires":[["c8d331a5.f4e76"],[]]},{"id":"52f52bbb.dd2bf4","type":"inject","z":"7d7b6600.b6f988","name":"Start Listening ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":168.7857208251953,"y":198.14285469055176,"wires":[["30383ca9.26b424"]]},{"id":"6fc1a028.72fdb","type":"inject","z":"7d7b6600.b6f988","name":"Stop Listening ","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":167.2857208251953,"y":270.14285469055176,"wires":[["30383ca9.26b424"]]},{"id":"a3475e23.9bd52","type":"debug","z":"7d7b6600.b6f988","name":"","active":true,"console":"false","complete":"false","x":507.85714285714283,"y":415.71428571428567,"wires":[]},{"id":"b076c148.40d41","type":"function","z":"7d7b6600.b6f988","name":"set payload","func":"msg.payload = msg.payload.results[0].alternatives[0].transcript;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":667.1428833007812,"y":195.71429443359375,"wires":[["a3475e23.9bd52"]]},{"id":"c8d331a5.f4e76","type":"delay","z":"7d7b6600.b6f988","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":334,"y":354,"wires":[["b076c148.40d41"]]}]